@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-050: #F9FAFB;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #E5E5E5;
  --color-gray-300: #D4D4D4;
  --color-gray-400: #A3A3A3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #3D3D3D;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  
  --color-primary: #FFFFFF;
  --color-accent: #7A8A53;

  --color-app-bg: var(--color-gray-100);
  --color-app-bg-subtle: var(--color-gray-050);
  --color-app-bg-obvious: var(--color-gray-200);
  --color-app-bg-default-reverse: var(--color-gray-700);
  --color-app-bg-obvious-reverse: var(--color-gray-800);
  --color-app-text: var(--color-gray-800);
  --color-app-text-default-reverse: var(--color-gray-100);
  --color-app-text-subtle: var(--color-gray-700);
  --color-app-text-subtle-reverse: var(--color-gray-300);
  --color-app-border-default: var(--color-gray-400);
  --color-app-tag-default: var(--color-gray-050);
  
  --color-code-add: #d4edda;
  --color-code-remove: #f8d7da;
  --color-code-highlight: #e5e7eb;
}

.dark {
  --color-primary: #171717;
  --color-accent: #7A8A53;

  --color-app-bg: var(--color-gray-700);
  --color-app-bg-subtle: var(--color-gray-800);
  --color-app-bg-obvious: var(--color-gray-600);
  --color-app-bg-default-reverse: var(--color-gray-100);
  --color-app-bg-obvious-reverse: var(--color-gray-200);
  --color-app-text: var(--color-gray-100);
  --color-app-text-default-reverse: var(--color-gray-800);
  --color-app-text-subtle: var(--color-gray-300);
  --color-app-text-subtle-reverse: var(--color-gray-700);
  --color-app-border-default: var(--color-gray-400);
  --color-app-tag-default: var(--color-gray-800);
  
  --color-code-add: #1e4a1e;
  --color-code-remove: #4a2f35;
  --color-code-highlight: #38444d;
}

::view-transition-old(root) {
  opacity: 0;
}

html {
  @apply overflow-y-scroll scroll-smooth;
}

body {
  font-family: "Noto Sans JP", "Quicksand", sans-serif;
  @apply text-left break-words leading-[1.8] bg-primary text-app-text;
}

.code-block-wrapper pre.shiki,
.code-block-wrapper pre.astro-code {
  @apply grid overflow-x-auto;
}

.code-block-wrapper code {
  @apply contents;
}

.code-block-wrapper .line {
  @apply px-6 text-sm;
}

.code-block-wrapper .line.highlighted,
.code-block-wrapper .line.diff.add,
.code-block-wrapper .line.diff.remove {
  @apply inline-block w-full;
}

.code-block-wrapper .line.diff.add {
  @apply bg-code-add;
}

.code-block-wrapper .line.diff.remove {
  @apply bg-code-remove;
}

.code-block-wrapper .line.highlighted {
  @apply bg-code-highlight;
}

[x-cloak] {
  display: none !important;
}