/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
html {
	background-color: #f8f7f6;
	color: #23221e;
}
html.dark {
	background-color: #23221e;
	color: #f8f7f6;
}

body {
	font-family: 'Noto Sans JP', 'Quicksand', sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 700px;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #23221e;
}
b.dark {
	color: #f8f7f6;
}
a {
	color: #23221e;
}
a.dark {
	color: #f8f7f6;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: max-content;
}
code {
	padding: 2px 5px;
	background-color: #f2f1f0;
	color: #e01e5a;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #c1bdb7;
	color: #23221e;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
mark {
	background-color: #ffcc17;
}
hr {
	background-color: #23221e;
	height: 1px;
}
hr.dark {
	background-color: #f8f7f6;
	height: 1px;
}