---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} url="/" image="/icon.jpeg">
	<div class="flex flex-col items-center justify-center gap-9 py-12">
		<img class="rounded-xl" src="/404.jpg" width={200} alt="404 Not Found" />
		<p class="text-xl font-medium">404 Not Found</p>
		</div>
</BaseLayout>
