---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION, ICON_IMAGE, NOT_FOUND_IMAGE } from '../config';
import { Image } from 'astro:assets';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} url="/" image={ICON_IMAGE}>
	<div class="flex flex-col items-center justify-center gap-9 py-12">
		<Image src={NOT_FOUND_IMAGE} width={200} height={200} alt="404 Not Found" class="rounded-xl" />
		<p class="text-xl font-medium">404 Not Found</p>
		</div>
</BaseLayout>
