---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const pageKind = 'About'
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} url="/" image="/icon.jpeg" pageKind={pageKind}>
	<h1>
		{pageKind}
	</h1>
	<h2>Self-Portrait</h2>
	<div class="bio-img">
		<img class="self-portrait" src="/icon.jpeg" />
	</div>
	<h2>
		Name
	</h2>
	<p>
		ibulog
	</p>
	<h2>
		Location
	</h2>
	<p>
		Kyoto, Japan
	</p>
	<h2>
		Job
	</h2>
	<p>
		Technical Writer
	</p>
	<h2>
		Interest
	</h2>
	<p>
		Web Development, Documentation, Car Racing🏎️
	</p>
	<h2>
		Contact
	</h2>
	<ul>
		<li>
			<a href="https://github.com/ibulog">GitHub</a>
		</li>
		<li>
			<a href="https://twitter.com/ibulog_">Twitter</a>
		</li>
	</ul>
	<style>
		.self-portrait {
			width: 150px; 
			border-radius: 50%;
			border: 2px solid var(--text-color);
		}
		.icon {
			width: 1em;
			height: 1em;
			fill: var(--text-color);
			vertical-align: middle;
		}
	</style>
</BaseLayout>
