---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const pageKind = 'Job'
---
<style>
  .job {
    display: block;
  }
</style>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} url="/" image="/icon.jpeg" />
	</head>
	<body>
		<Header pageKind={pageKind}/>
		<main>
    <h1>
      {pageKind}
    </h1>
    <h2>
      <small class="job">
        <time datetime="2024-05">
          2024-05
        </time>
        〜
      </small>
      <a class="company-name" href="https://primenumber.co.jp/">株式会社primeNumber</a>
    </h2>
    <ul>
        <li><strong>Belongs to：</strong>ライターチーム（業務委託）</li>
        <li><strong>Mission：</strong>ドキュメント基盤開発・運用、多言語対応</li>
    </ul>
    <h2>
      <small class="job">
        <time datetime="2022-03">
          2022-03 
        </time>
        〜
      </small>
      <a class="company-name" href="https://smarthr.jp/">株式会社SmartHR</a>
    </h2>
    <ul>
        <li><strong>Belongs to：</strong>UXライティング部</li>
        <li><strong>Mission：</strong>UI文言・ヘルプページ作成、サポートコンテンツ情報設計、ヘルプセンター開発</li>
    </ul>
    <h2>
      <small class="job">
        <time datetime="2021-03">
          2021-03
        </time>
        〜
        <time datetime="2022-02">
          2022-02
      </small>
      <a class="company-name" href="https://cybozu.co.jp/">サイボウズ株式会社</a>
    </h2>
    <ul>
        <li><strong>Belongs to：</strong>システムコンサルティング本部</li>
        <li><strong>Mission：</strong>APIドキュメント・開発Tips記事作成、開発者コミュニティ運営</li>
    </ul>
    <h2>
      <small class="job">
        <time datetime="2019-11">
          2019-11
        </time>
        〜
        <time datetime="2021-02">
          2021-02
      </small>
      <a class="company-name" href="https://gigazine.net/">GIGAZINE</a>
    </h2>
    <ul>
        <li><strong>Belongs to：</strong>技術部</li>
        <li><strong>Misson：</strong>記事作成、インフラ保守、システム開発</li>
    </ul>
    <h2>
      <small class="job">
        <time datetime="2018-04">
          2018-04
        </time>
        〜
        <time datetime="2019-10">
          2019-10
      </small>
      <a class="company-name" href="https://www.brother.co.jp/">ブラザー工業株式会社</a>
    </h2>
    <ul>
        <li><strong>Belongs to：</strong>事業企画グループ</li>
        <li><strong>Mission：</strong>単体損益の予実管理など管理会計業務</li>
    </ul>
</body>
</html>

		</main>
		<Footer />
	</body>
</html>
