---
import ArticleIndex from './ArticleIndex.astro';

export interface Props {
	headings: Array<{
		depth: number;
		slug: string;
		text: string;
	}>;
}

const { headings } = Astro.props;
---

<div
	x-data class="flex flex-col rounded-xl bg-app-bg"
>
	<button
		class="flex flex-col justify-center items-center h-6 px-3 cursor-pointer"
		aria-label="目次を開く"
		@click="$store.articleIndexBar.toggleExpanded()"
		@click.outside="$store.articleIndexBar.expanded = false"
	>
		<div class="w-14 h-1 rounded-full bg-app-text-subtle"></div>
	</button>
	<div x-show="$store.articleIndexBar.expanded" x-collapse x-cloak class="min-h-0 w-full">
		<ArticleIndex headings={headings} />
	</div>
</div>