---
import ArticleIndex from './ArticleIndex.astro';

export interface Props {
	headings: Array<{
		depth: number;
		slug: string;
		text: string;
	}>;
}

const { headings } = Astro.props;
---

<div
	x-data class="flex flex-col rounded-xl bg-app-bg w-20"
>
	<button
		class="flex flex-col justify-center items-center h-6 px-3 cursor-pointer"
		aria-label="目次を開く"
		@click="$store.articleIndexBar.toggleExpanded()"
	>
		<div class="w-14 h-1 rounded-full bg-app-text-subtle"></div>
	</button>
	<div id="index-content" x-show="$store.articleIndexBar.expanded" x-collapse class="min-h-0">
		<ArticleIndex headings={headings} />
	</div>
</div>
