---
const {pageKind} = Astro.props;

const navItems = [
  { label: 'About', href: '/' },
  { label: 'Jobs', href: '/job' },
  { label: 'Blog', href: '/blog' },
  { label: 'Tags', href: '/tags' },
];
---

<nav class="hidden md:flex items-center gap-6">
	{navItems.map((item) => (
		<a
			href={item.href}
			class={`text-sm font-medium leading-none ${
				pageKind === item.label ? 'font-semibold text-accent' : 'text-app-text-subtle'
			}`}
		>
			{item.label}
		</a>
	))}
</nav>

