---
const today = new Date();
---

<footer>
	<span>
		&copy; {today.getFullYear()} ibulog, Built with Astro
	</span>
</footer>
<style>
footer {
	display: flex;
	align-items: center;
	font-size: small;
	height: 100px;
	font-weight: 300;
}
</style>
