---
import HeaderLink from './HeaderLink.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';
---

<header>
	<img class="icon" src="/icon.jpeg" width={36} />
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<a href="https://twitter.com/ibulog_" target="_blank"><i class="fa-brands fa-twitter fa-lg"></i></a>
		<a href="https://github.com/ibulog" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
	</nav>
</header>
<style>
	header {
		display: flex;
		margin: 0em 0 1em;
	}
	img {
		margin: 12px 0 12px 0;
	}
	h2 {
		margin: 0.5em 0.5em;
	}
	nav {
		margin: 18px 0 18px auto;
	}
	nav a {
		color: black;
		margin: 8px;
	}
</style>
