---
import DesktopNavMenu from './DesktopNavMenu.astro';
import MobileNavButton from './MobileNavButton.astro';
import MobileNavDropdown from './MobileNavDropdown.astro';
import ThemeIcon from './ThemeIcon.astro';
import { SITE_TITLE } from '../config';

const {pageKind} = Astro.props;
---

<header class="relative w-full bg-app-bg text-app-text rounded-xl flex flex-col px-6 py-4">
	<div class="flex justify-between items-center self-stretch h-8">
		<h2 class="text-xl font-medium leading-none">
			{SITE_TITLE}
		</h2>
		<div class="flex items-center gap-6">
			<div class="hidden md:flex items-center">
				<DesktopNavMenu pageKind={pageKind} />
			</div>
			<div class="md:hidden flex items-center">
				<MobileNavButton />
			</div>
			<ThemeIcon />
		</div>
	</div>
	<MobileNavDropdown pageKind={pageKind} />
</header>

<script data-astro-rerun>
	// TODO: イベントリスナーを重複登録しないようにする
  document.getElementById('mobile-menu-toggle')?.addEventListener('click', () => {
		const dropdown = document.getElementById('mobile-nav-dropdown');
  
		const isOpened = dropdown?.classList.contains('grid-rows-[1fr]');
  	
    dropdown?.classList.toggle('grid-rows-[0fr]', isOpened);
    dropdown?.classList.toggle('grid-rows-[1fr]', !isOpened);
  });
</script>
