---
import { NAV_ITEMS } from '../config';

export interface Props {
	pageKind: string;
}

const {pageKind} = Astro.props;
---

<div id="mobile-nav-dropdown" class="grid grid-rows-[0fr] transition-[grid-template-rows] duration-300 ease-in-out overflow-hidden w-full">
	<div class="min-h-0 flex flex-col gap-2.5">
		{NAV_ITEMS.map((item) => (
			<a
				href={item.href}
				class={`flex justify-center items-center p-2.5 first:mt-3 text-base font-medium ${
					pageKind === item.label ? 'font-semibold text-accent' : 'text-app-text-subtle'
				}`}
			>
				{item.label}
			</a>
		))}
	</div>
</div>

