---
const {pageKind} = Astro.props;
---
<style>
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  gap: 0.25rem;

}
.toggle {
  display: none;
  cursor: pointer;
}
.menu {
  display: none;
  width: 110px;
}
#toggle:checked + .menu {
  display: block;
  position: absolute;
  top: 60px;
  right: 0px;
}
.drop-menu {
  background-color: var(--background-color);
  list-style: none;
  border-radius: 10px;
  border: 2px solid var(--text-color);
  padding: 0;
  margin: 0;
}
.drop-menu-list a {
  display: block;
  padding: 7px 10px;
  text-decoration: none;
}
.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-color);
  height: 20px;
  width: 20px;
  transform: rotate(180deg);
}
#toggle:checked ~ .arrow{
  transform: rotate(0deg);
}
</style>
<div class="nav">
  <label for="toggle" onclick="">{pageKind}</label>
  <input type="checkbox" id="toggle" class="toggle" autocomplete="off">
  <div class="menu">
    <ul class="drop-menu">
      <li class="drop-menu-list">
        <a href="/">About</a>
      </li>
      <li class="drop-menu-list">
        <a href="/job">Job</a>
      </li>
      <li class="drop-menu-list">
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </div>
  <div class="arrow">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/></svg>
  </div>
</div>