---
const {currentPage, lastPage, page} = Astro.props
---

<style>
  .wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 1.25em;
  }
</style>
<div class="wrapper">
  <div>
    {currentPage !== 1 && currentPage !== 2 ? <a href={page.url.prev}>前のページ</a> : null}
    {currentPage === 2 ? <a href='/blog'>前のページ</a> : null}
  </div>
  <div>
    {currentPage !== lastPage ? <a href={page.url.next}>次のページ</a> : null}
  </div>
</div>
