---
import Button from './ui/Button.astro';

export interface Props {
	currentPage: number;
	lastPage: number;
	page: {
		url: {
			prev: string | undefined;
			next: string | undefined;
		};
	};
	baseUrl?: string;
}

const { currentPage, lastPage, page, baseUrl = '/blog' } = Astro.props;

const prevUrl = currentPage === 2 ? baseUrl : page.url.prev;
const nextUrl = page.url.next;
---

<div class="flex flex-row items-center gap-2.5 w-full">
	<div class="flex-1 h-8">
		{currentPage > 1 && prevUrl && (
			<Button href={prevUrl} text="Prev" />
		)}
  </div>
	<div class="flex justify-end">
		{currentPage < lastPage && nextUrl && (
			<Button href={nextUrl} text="Next" />
		)}
  </div>
</div>
