---
const { tag } = Astro.props;
---

<style>
.tag {
  margin-right: 0.25em;
  padding: 0 0.5em 0 0.5em;
  border-radius: 15px;
  background-color: var(--text-color);
  color: var(--background-color);
  }
</style>
<span class="tag">{tag}</span>
