---
const { tag } = Astro.props;
---

<style>
  span {
    margin-right: 0.25em;
    padding: 0 0.5em 0 0.5em;
    border-radius: 15px;
    background-color: #23221e;
    color: #f2f1f0;
  }
</style>
<span>{tag}</span>
