---
const { tag } = Astro.props;
---

<style>
  span {
    margin-right: 0.25em;
    padding: 0 0.5em 0 0.5em;
    border: 1px solid #c1bdb7;
    border-radius: 15px;
    color: #23221e;
  }
</style>
<span>{tag}</span>
