---
import TocBar from './ui/TocBar.astro';
import Headings from './ui/Headings.astro';
export interface Props {
	headings: Array<{
		depth: number;
		slug: string;
		text: string;
	}>;
}

const { headings } = Astro.props;
---

<div
	x-data
	class="flex flex-col rounded-xl bg-app-bg border border-app-border-default/20 shadow-sm transition-all duration-300 ease-in-out"
>
	<button
		class="flex flex-col justify-center items-center h-6 px-3 cursor-pointer w-full"
		aria-label="目次を開く"
		@click="$store.tocButton.toggleExpanded()"
		@click.outside="$store.tocButton.expanded = false"
	>
		<TocBar />
	</button>

	<div 
		class="grid transition-all duration-300 ease-in-out overflow-hidden"
		:class="$store.tocButton.expanded ? 'grid-rows-[1fr] grid-cols-[1fr]' : 'grid-rows-[0fr] grid-cols-[0fr]'"
		x-cloak
	>
		<div class="min-h-0 overflow-hidden px-6 pb-6">
			<div class="w-full min-w-[200px]">
				<Headings headings={headings} />
			</div>
		</div>
	</div>
</div>
