---
import TocBar from './ui/TocBar.astro';
import Headings from './ui/Headings.astro';
export interface Props {
	headings: Array<{
		depth: number;
		slug: string;
		text: string;
	}>;
}

const { headings } = Astro.props;
---

<div
	x-data class="flex flex-col rounded-xl bg-app-bg border border-app-border-default/20 shadow-sm"
>
	<button
		class="flex flex-col justify-center items-center h-6 px-3 cursor-pointer"
		aria-label="目次を開く"
		@click="$store.tocButton.toggleExpanded()"
		@click.outside="$store.tocButton.expanded = false"
	>
		<TocBar />
	</button>
	<div x-show="$store.tocButton.expanded" x-collapse x-cloak class="min-h-0 px-6 pb-6 w-full">
		<Headings headings={headings} />
	</div>
</div>