---
import TocBar from './ui/TocBar.astro';
import Headings from './ui/Headings.astro';
export interface Props {
	headings: Array<{
		depth: number;
		slug: string;
		text: string;
	}>;
}

const { headings } = Astro.props;
---

<div
	x-data
	class="flex flex-col rounded-xl bg-app-bg border border-app-border-default/20 shadow-sm transition-all duration-300 ease-in-out"
>
	<button
		class="flex flex-col justify-center items-center h-6 px-3 cursor-pointer w-full"
		aria-label="目次を開く"
		@click="$store.tocButton.toggleExpanded()"
		@click.outside="$store.tocButton.expanded = false"
	>
		<TocBar />
	</button>

	<div 
	    class="grid overflow-hidden"
		    :class="$store.tocButton.expanded 
			? 'grid-cols-[1fr] grid-rows-[1fr] opacity-100' 
			: 'grid-cols-[0fr] grid-rows-[0fr] opacity-0'"
			:style="$store.tocButton.expanded 
			? 'transition: grid-template-columns 200ms ease-out, grid-template-rows 300ms ease-out 400ms, opacity 300ms 400ms;' 
			: 'transition: grid-template-rows 300ms ease-in, grid-template-columns 200ms ease-in 400ms, opacity 400ms;'"
	>
	<div class="min-h-0 overflow-hidden">
		<div class="px-4 md:px-6 pb-4 md:pb-6 w-full min-w-[300px]">
			<Headings headings={headings} />
		</div>
	</div>
</div>
