---
export interface Props {
	href: string;
	text: string;
}

const { href, text } = Astro.props;
---

<a
	href={href}
	class="inline-flex items-center justify-center h-8 px-8 bg-app-bg border border-accent rounded-lg text-xs font-medium leading-none text-app-text no-underline hover:opacity-80 transition-opacity"
>
	{text}
</a>


