---
export interface Props {
	text?: string;
	id?: string;
}

const { text, id } = Astro.props;
---

<h2
	id={id}
	class="flex flex-row items-center gap-2.5 p-6 rounded-xl bg-app-bg text-lg font-bold text-app-text mt-8 first:mt-0"
>
	{text ? text : <slot />}
</h2>

