---
---

<div class="flex flex-row">
	<div class="flex flex-col self-stretch border-l w-2 border-app-border-obvious"></div>
	<div class="flex flex-col self-stretch border-r w-2 border-app-border-obvious"></div>
</div>

