---
---

<div class="flex flex-row h-full">
	<div class="flex flex-col self-stretch border-l border-app-border-default-reverse w-2 flex-shrink-0"></div>
	<div class="flex flex-col self-stretch border-x border-app-border-default-reverse w-2 flex-shrink-0"></div>
</div>

