---
export interface Props {
	text?: string;
}

const { text } = Astro.props;
---

<p class="flex-inline flex-row items-center flex-wrap px-3 text-base text-app-text whitespace-pre-line">
	{text ? text : <slot />}
</p>

